[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
ipython = "*"
logbook = "*"
pygame = "*"
"pypiwin32" = "*"
wmi = "*"

[dev-packages]
rope = "*"

[requires]
python_version = "3.6"
